MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=payment_processing
MYSQL_USER=payment_user
MYSQL_PASSWORD=payment_pass

DB_URL=jdbc:mysql://localhost:3306/payment_processing?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=payment_user
DB_PASSWORD=payment_pass

